.about {
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @border-gray;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    column-gap: 60px;
    row-gap: 37px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px;
    column-gap: 80px;
    border: none;
  }
}

.about__title {
  .main-title();
  margin: 0 0 40px 0;


  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.about__item {
  .simple-text();
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 80px;
    margin: 0;
    width: 75%;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }

  &--first::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-first.svg") 50% 50%;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--second::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-second.svg") 50% 50%;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--third::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-third.svg") 50% 50%;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--fourth::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-fourth.svg") 50% 50%;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}
