.about {
  padding-bottom: 22px;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about__title {
  .main-title();
  margin: 0 0 38px 0;
}

.about__item {
  .simple-text();
  padding-left: 80px;
  margin-bottom: 20px;
}
