.about-cat__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about-cat__list {
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 110px;
  }
}

.about-cat__label {
  .form-label();
  margin-right: 14px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.about-cat__input {
  border: 1px solid @input-gray;
  padding: 13px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
  }
}
