.additional-catalog {
  position: relative;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: @basic-green;
      width: 100vw;
      left: 0;
      top: 52px;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: 47px;
    }
  }
}

.additional-catalog__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 74% 1fr;
    padding: 0;
  }
}

.additional-catalog__title {
  .main-title(24px;24px);
  margin-bottom: 35px;
  background-color: @white;
  padding-right: 22px;
  width: fit-content;
  margin-top: 0;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: @basic-green;
    width: 100vw;
    left: 50%;
    top: 15px;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 37px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 82px;
    width: auto;
    position: relative;

    &::before {
      height: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 23px 0 81px -35px;
    padding: 0 35px;
    width: 338px;

    &::before {
      height: 0;
    }
  }
}

.additional-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 85px;
    width: 895px;
  }
}

.additional-catalog__gift {
  margin: 39px 0 35px 0;
}
