.additional-card {
  border-bottom: 1px solid @special-light-gray;
  padding: 13px 0 17px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:first-child {
    border-top: 1px solid @special-light-gray;
  }

  @media (min-width: @tablet-width) {
    margin-top: -1px;
    border: 1px solid @special-light-gray;
    padding: 26px 38px 0 38px;
    grid-template-columns: 62% 23% 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 325px 243px 83px 244px;
    align-items: center;
    border: none;
    border-bottom: 1px solid @special-light-gray;
    padding: 17px 0 15px 0;
  }
}

.additional-card__title {
  font-family: @title-font;
  color: @special-dark-gray;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    grid-column-end: 2;
  }
}

.additional-card__characteristics-type {
  .simple-text(14px;14px);
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 12px 0 16px 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: start;
    margin-top: 5px;
  }
}

.additional-card__characteristics-value {
  .simple-text(14px;14px);
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  margin: 12px 0 0 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 0;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    justify-self: start;
    margin-top: 5px;
  }
}

.additional-card__button {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 11px 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding: 18px 0;
    margin-top: 26px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    margin: 0;
    padding: 11px 0;
    width: auto;
  }
}
