.additional-card {
border-bottom: 1px solid #EBEBEB;
padding: 19px 0 25px 0;

  &:first-child{
    border-top: 1px solid #EBEBEB;
  }
}

.additional-card__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: @special-dark-gray;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.additional-card__characteristics-type, .additional-card__characteristics-value {
  .simple-text(14px;14px)
}

