.comment__legend {
  .main-title(24px;26px);
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.comment__text {
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  padding: 13px 12px 13px 15px;
  margin: 0;
  .form-label();
  border: 1px solid @input-gray;
  resize: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
