.example {
  background: @gray;

  @media (min-width: @tablet-width) {
    background: @white;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      width: 100%;
      height: 462px;
      background: @gray;
      position: absolute;
      top: 620px;
      left: 0;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      width: 100%;
      height: 462px;
      background: @gray;
      position: absolute;
      top: 179px;
      left: 0;
      z-index: -1;
    }
  }
}

.example__wrapper {
  padding-top: 26px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 44px;
    padding-bottom: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding-bottom: 75px;
    grid-template-rows: 206px 96px 190px 1fr;
    grid-template-columns: 436px 1fr;
  }
}

.example__title {
  .main-title();
  margin: 0 0 33px 0;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
  }
}

.example__text {
  .simple-text();
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 98%;
    font-size: 16px;
    line-height: 24px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    margin: 0;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: normal;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: center;
    margin-top: 50px;
  }
}

.example__item {
  box-sizing: border-box;
  position: relative;
  width: 124px;
  padding: 12px 0 17px 0;
  text-align: center;
  border: 1px solid @radio-gray;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
    margin-right: 42px;
  }
}

.example__number {
  .main-title(24px; 24px);
  text-transform: uppercase;


  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  .simple-text(12px; 12px);
  text-transform: lowercase;
  position: absolute;
  bottom: -16px;
  right: 19px;
  background: @gray;
  padding: 0 14px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    bottom: -15px;
    right: auto;
    margin: 0;
    padding: 8px;
    width: auto;
    background: @white;
  }

  @media (min-width: @desktop-width) {
    background: @gray;
  }
}

.example__cost {
  .main-title(14px; 20px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 80%;
    text-align: right;
    justify-self: end;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: start;
    text-align: left;
    margin: 10px 0 0 0;
  }
}

.example__price {
  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 8px;
  }

  @media (min-width: @desktop-width) {
    display: inline;
    margin-left: 58px;
  }
}

.example__slider {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: self-end;
    align-self: self-end;
    margin-right: -40px;
    margin-bottom: -35px;
  }
}

.example__controls {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: -70px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-right: -38px;
  }
}

.example__before-text,
.example__after-text {
  .main-title(16px; 20px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 29px;
    border-bottom: 2px dotted @radio-gray;
  }
}

.example__images {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-right: -20px;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: -100px;
  }
}

.example__image {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.example__image--fat-cat {
  max-width: none;
  width: 311px;
  margin-left: -20px;

  @media (min-width: @desktop-width) {
    width: auto;
    margin: 0 -41px 0 0;
  }
}

.example__image--slim-cat {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.example__scale {
  background: @white;
  box-sizing: border-box;
  border: 1px solid @radio-gray;
  border-radius: 6px;
  width: 84px;
  height: 14px;
  margin: 0 14px 0 20px;
  padding: 3px 6px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 438px;
    padding: 0;
    height: 6px;
    border: none;
    background: @radio-gray;
  }
}

.example__bar {
  width: 50%;
  height: 6px;
  border-radius: 6px;
  background: @basic-green;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.example__toggle {
  @media (min-width: @tablet-width) {
    position: absolute;
    width: 34px;
    height: 34px;
    background: @white;
    border-radius: 50%;
    border: 1px solid @radio-gray;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: @basic-green;
      border-radius: 50%;
      top: 13px;
      right: 13px;
    }
  }
}
