.main-card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-card__image {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    width: 169px;
    height: 201px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.main-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: @special-dark-gray;
  text-transform: uppercase;
  width: 70%;
  margin: 9px 0 14px 0;

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 50%;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 70%;
  }
}

.main-card__characteristics-list {
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    width: 88%;
    margin: 0 0 25px 0;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
  }
}

.main-card__characteristics-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @radio-gray;
    padding-bottom: 7px;
    margin-bottom: 8px;
  }
}

.main-card__characteristics-type,
.main-card__characteristics-value {
  .simple-text(12px;16px);

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.main-card__button {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 11px 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 88%;
    padding: 9px 0 10px 0;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
  }
}
