.main-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: @special-dark-gray;
  text-transform: uppercase;
}

.main-card__characteristics-type,
.main-card__characteristics-value {
  .simple-text(12px;16px);
}
