.main-catalog__list {
  .clear-list();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    padding: 0 110px;
  }
}

.main-catalog__item {
  border-bottom: 1px solid @special-light-gray;
  padding: 13px 20px 18px 20px;

  &:first-child {
    border-top: 1px solid @special-light-gray;
  }

  @media (min-width: @tablet-width) {
    border: none;
    background-color: @basic-gray;

    &:first-child {
      border-top: none;
    }
  }
}
