.main-catalog__list {
  .clear-list();
}

.main-catalog__item {
  border-bottom: 1px solid @special-light-gray;
  padding: 13px 0 18px 0;

  &:first-child {
    border-top: 1px solid @special-light-gray;
  }
}
