.owner-contacts__legend {
  .main-title(24px;26px);
  margin-bottom: 32px;
}

.owner-contacts__list {
  .clear-list();
}

.owner-contacts__item {
  margin-bottom: 14px;
}

.owner-contacts__label {
  .form-label();
  margin-right: 14px;
}

.owner-contacts__input {
  .form-label(@special-dark-gray);
  border: 1px solid @radio-gray;
  padding: 13px 15px;
}
