.page-main__title {
  .main-title(36px; 36px);
  margin: 27px 0 37px 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__text {
  .main-title(14px; 18px);
  text-transform: uppercase;
  margin: 0 0 39px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
