@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswaldregular.woff2') format('woff2'), url('../fonts/oswaldregular.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswaldmedium.woff2') format('woff2'), url('../fonts/oswaldmedium.woff') format('woff');
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.center {
  padding: 0 20px;
  margin: auto;
}
.button {
  background: #68B738;
  color: #fff;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 11px 0;
}
.button:hover {
  background: #5EAA2F;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu__item {
  border-bottom: 1px solid #E6E6E6;
  padding: 22px 0 24px 0;
  text-align: center;
}
.main-menu__item:first-child {
  border-top: 1px solid #E6E6E6;
}
.main-menu__link {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.main-menu__link:hover {
  opacity: 0.6;
  border: none;
}
.main-menu__link:active {
  opacity: 0.3;
  border: none;
}
.main-menu__link--active {
  border-bottom: 2px solid #68B738;
}
.promo {
  position: relative;
  margin-bottom: 22px;
}
.promo::after {
  content: '';
  width: 100%;
  height: 302px;
  background: #68B738 url('https://via.placeholder.com/320x302') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.promo__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 27px 16px 25px 15px;
  margin: 0;
}
.promo__text {
  font-family: 'Oswald', Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px 0;
}
.programs {
  padding-bottom: 7px;
}
.card-programs {
  background: #F2F2F2;
  padding: 30px 33px 19px 20px;
  margin-bottom: 20px;
}
.card-programs__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  padding-left: 71px;
  margin: 0 0 29px 0;
  text-transform: uppercase;
}
.card-programs__text {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 42px;
}
.card-programs__link {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.card-programs__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.about {
  padding-bottom: 22px;
}
.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 38px 0;
}
.about__item {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  margin-bottom: 20px;
}
.example {
  padding-top: 27px;
  background: #EAEAEA;
}
.example__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 33px 0;
}
.example__text {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
.example__number {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid gray;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: center;
}
.example__description {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}
.example__cost {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.example__before-text,
.example__after-text {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.page-footer {
  background: #F2F2F2;
}
.location--main-page {
  background: #fff;
}
.address {
  padding-top: 28px;
  padding-bottom: 22px;
}
.address__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}
.address__text {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.social__list {
  list-style: none;
}
.social__link {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
