@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswaldregular.woff2') format('woff2'), url('../fonts/oswaldregular.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswaldmedium.woff2') format('woff2'), url('../fonts/oswaldmedium.woff') format('woff');
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.center {
  padding: 0 20px;
  margin: auto;
}
.button {
  background: #68B738;
  color: #fff;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 11px 0;
  border: none;
}
.button:hover {
  background: #5EAA2F;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu__item {
  border-bottom: 1px solid #E6E6E6;
  padding: 22px 0 24px 0;
  text-align: center;
}
.main-menu__item:first-child {
  border-top: 1px solid #E6E6E6;
}
.main-menu__link {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.main-menu__link:hover {
  opacity: 0.6;
  border: none;
}
.main-menu__link:active {
  opacity: 0.3;
  border: none;
}
.main-menu__link--active {
  border-bottom: 2px solid #68B738;
}
.promo {
  position: relative;
  margin-bottom: 22px;
}
.promo::after {
  content: '';
  width: 100%;
  height: 302px;
  background: #68B738 url('https://via.placeholder.com/320x302') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.promo__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 27px 16px 25px 15px;
  margin: 0;
}
.promo__text {
  font-family: 'Oswald', Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px 0;
}
.programs {
  padding-bottom: 7px;
}
.card-programs {
  background: #F2F2F2;
  padding: 30px 33px 19px 20px;
  margin-bottom: 20px;
}
.card-programs__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  padding-left: 71px;
  margin: 0 0 29px 0;
  text-transform: uppercase;
}
.card-programs__text {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 42px;
}
.card-programs__link {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.card-programs__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.about {
  padding-bottom: 22px;
}
.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 38px 0;
}
.about__item {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  margin-bottom: 20px;
}
.example {
  padding-top: 27px;
  background: #EAEAEA;
}
.example__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 33px 0;
}
.example__text {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
.example__number {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid gray;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: center;
}
.example__description {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}
.example__cost {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.example__before-text,
.example__after-text {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.page-footer {
  background: #F2F2F2;
}
.location--main-page {
  background: #fff;
}
.address {
  padding-top: 28px;
  padding-bottom: 22px;
}
.address__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}
.address__text {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.social__list {
  list-style: none;
}
.social__link {
  text-decoration: none;
}
.page-main__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 37px 0;
}
.page-main__text {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 39px 0;
}
.page-main__bottom-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000;
}
.form__about-cat {
  border: none;
  border-bottom: 1px solid #D9D9D9;
  padding: 0 0 27px 0;
  margin: 0;
}
.form__programs-type {
  border: none;
  padding: 26px 0 3px 0;
  margin: 0;
  border-bottom: 1px solid #D9D9D9;
}
.form__owner-contacts {
  border: none;
  padding: 0;
  margin: 26px 0 13px 0;
}
.form__comment {
  border: none;
  padding: 0;
  margin: 0 0 27px 0;
}
.form__additionally {
  border: none;
  padding: 0;
  margin: 0 0 21px 0;
}
.about-cat__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about-cat__label {
  font-family: 'Oswald', Arial, sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 14px;
}
.about-cat__item {
  margin-bottom: 14px;
}
.about-cat__input {
  border: 1px solid #E7E7E7;
  padding: 13px 15px;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.programs-type__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.programs-type__item {
  margin-bottom: 19px;
}
.programs-type__label {
  font-family: 'Oswald', Arial, sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 46px;
}
.programs-type__input + .programs-type__label::before {
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
}
.programs-type__input:checked + .programs-type__label::after {
  content: '';
  width: 13px;
  height: 13px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #68B738;
  border-radius: 50%;
}
.programs-type__input:hover + .programs-type__label::before,
.programs-type__input:focus + .programs-type__label::before {
  border-color: #BABABA;
}
.programs-type__input:disabled + .programs-type__label::before,
.programs-type__input:checked:disabled + .programs-type__label::after {
  opacity: 0.3;
}
.owner-contacts__legend {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 32px;
}
.owner-contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.owner-contacts__item {
  margin-bottom: 14px;
}
.owner-contacts__label {
  font-family: 'Oswald', Arial, sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 14px;
}
.owner-contacts__input {
  font-family: 'Oswald', Arial, sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #CDCDCD;
  padding: 13px 15px;
}
.comment__text {
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  padding: 13px 12px 13px 15px;
  margin: 0;
  font-family: 'Oswald', Arial, sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #E7E7E7;
  resize: none;
}
.comment__legend {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 24px;
}
.additionally__legend {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 39px;
}
.additionally__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.additionally__item {
  margin-bottom: 20px;
}
.additionally__label {
  font-family: 'Oswald', Arial, sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 46px;
}
.additionally__input + .additionally__label::before {
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid #CDCDCD;
}
.additionally__input:checked + .additionally__label::after {
  content: '';
  width: 18px;
  height: 14px;
  position: absolute;
  top: 8px;
  left: 6px;
  background: url(https://via.placeholder.com/18x14) 0 0 no-repeat;
}
.additionally__input:hover + .additionally__label::before,
.additionally__input:focus + .additionally__label::before {
  border-color: #BABABA;
}
.additionally__input:disabled + .additionally__label::before,
.additionally__input:checked:disabled + .additionally__label::after {
  opacity: 0.3;
}
.main-card__title {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #222222;
  text-transform: uppercase;
}
.main-card__characteristics-type,
.main-card__characteristics-value {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}
.main-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-catalog__item {
  border-bottom: 1px solid #EBEBEB;
  padding: 13px 0 18px 0;
}
.main-catalog__item:first-child {
  border-top: 1px solid #EBEBEB;
}
.show-more {
  position: relative;
}
.show-more::before {
  content: '';
  width: 2px;
  height: 30px;
  background-color: #D3D3D3;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: rotate(90deg);
}
.show-more::after {
  content: '';
  width: 2px;
  height: 30px;
  background-color: #D3D3D3;
  position: absolute;
  top: 26px;
  left: 50%;
}
.show-more__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 79px;
  text-align: center;
}
.show-more__text {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.show-more__button {
  background-color: #F2F2F2;
  color: #444444;
}
.show-more__button:hover {
  background-color: #EBEBEB;
}
.show-more__button:active {
  color: rgba(68, 68, 68, 0.3);
}
.additional-catalog__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
.additional-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.additional-catalog__gift {
  margin: 39px 0 35px 0;
}
.additional-card {
  border-bottom: 1px solid #EBEBEB;
  padding: 19px 0 25px 0;
}
.additional-card:first-child {
  border-top: 1px solid #EBEBEB;
}
.additional-card__title {
  font-family: 'Oswald', Arial, sans-serif;
  color: #222222;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}
.additional-card__characteristics-type,
.additional-card__characteristics-value {
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}
.promo-gift {
  width: 100%;
  height: 289px;
  background: url('https://via.placeholder.com/280x289') no-repeat;
  background-size: cover;
}
.promo-gift__text {
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  padding: 186px 58px 0 61px;
}

/*# sourceMappingURL=style.css.map */
